:root {
    --darkest: #04283e;
    --revealed: #00598a;
    --ready: #0267a7;
    --hover: #0069a8;
    --active: #0084d1;
    --lightest: #dff2fe;
    --max-width: min(420px, 100%);
    --font-mono: "Lucida Console", "Courier New", monospace;
    --font-standard: "Georgia", serif
}

* {
    background-color: var(--darkest);
    border-color: var(--lightest);
    color: var(--lightest);
    text-align: center;
    font-family: var(--font-standard);
    box-sizing: border-box;
}

.app {
    max-width: var(--max-width);
    width: 100%;
    margin-inline: auto;
    min-height: 100dvh;
}

.puzzle {
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    padding: 16px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.headerText {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
}

.headerName {
    font-size: 48px;
    font-weight: 800px;
    font-family: var(--font-mono);
    width: 100%;
    line-height: 1;
    text-align: left;
}

.headerPuzzleNumber {
    font-family: var(--font-mono)
}

.headerButtons {
    display: flex;
    gap: 10px;
}

.headerButton {
    font-family: var(--font-mono);
    font-weight: 500;
    font-size: 20px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: var(--ready);
    border-radius: 50%;
    border-color: var(--lightest);
    border-style: solid;
    border-width: 1px;
    line-height: 24px;
}

.headerButton:hover {
    background-color: var(--hover);
}

.headerButton:active {
    background-color: var(--active);
}

.divider {
    border-top-width: 1px;
    width: 100%;
}

.promptText {
    font-weight: 500;
    font-size: 24px;
    display: flex;
    margin-top: 4px;
}

.userInput {
    font-weight: 600;
    font-size: 24px;
    margin-top: 4px;
}

.clue {
    font-weight: 500;
    font-size: 24px;
    margin-top: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.hintButton {
    background-color: var(--ready);
    border-color: var(--lightest);
    border-style: solid;
    font-size: 16px;
    font-weight: 700;
    border-width: 2px;
    border-radius: 4px;
    color: var(--lightest);
    width: 100%;
    margin-top: 6px;
    padding: 8px;
}

.hintButton:active {
    background-color: var(--active);
}

.hintButton:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.hintButtonRevealed {
    background-color: var(--revealed);
    border-color: var(--lightest);
    border-style: solid;
    font-size: 16px;
    font-weight: 700;
    border-width: 2px;
    border-radius: 4px;
    color: var(--lightest);
    width: 100%;
    margin-top: 6px;
    padding: 8px;
}

.hintButtonDisabled {
    font-weight: 700;
    font-size: 16px;
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--lightest);
    border-style: solid;
    color: var(--lightest);
    width: 100%;
    margin-top: 6px;
    padding: 8px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    margin-inline: auto;
    margin-top: 10px;
}

.keyboardRow {
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    width: 100%;
    gap: 2px;
}

.keyboardButton {
    flex: 1;
    height: 40px;
    background-color: var(--revealed);
    border-color: var(--lightest);
    border-style: solid;
    border-width: 1px;
    font-weight: 500;
    border-radius: 4px;
    font-size: 20px;
    line-height: 36px;
}

.keyboardButtonLongText {
    flex: 1;
    height: 40px;
    background-color: var(--revealed);
    border-color: var(--lightest);
    border-style: solid;
    border-width: 1px;
    font-weight: 500;
    border-radius: 4px;
    font-size: 16px;
    line-height: 36px;
}

.keyboardButton:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.keyboardButton:active {
    background-color: var(--active);
}

.keyboardButtonLongText:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.keyboardButtonLongText:active {
    background-color: var(--active);
}

.helpModalHeaderText {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
    background-color: var(--lightest);
    color: var(--darkest)
}

.helpModalText {
    font-size: 14px;
    margin-bottom: 4px;
    background-color: var(--lightest);
    color: var(--darkest)
}

.closeButton {
    position: absolute;
    top: 8px;
    right: 14px;
    background: transparent;
    border: none;
    color: var(--darkest);
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.closeButton:hover {
    color: var(--active);
}

.helpModalOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
  
.helpModalBox {
    background-color: var(--lightest);
    color: var(--darkest);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--darkest);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 300px;
    text-align: center;
}

.successModalBoxes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightest);
}

.streakBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--lightest);
}

.statsBox {
    width: 100%;
    margin-bottom: 4px;
    background-color: var(--lightest);
}

.statsRow {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    background-color: var(--lightest);
}

.statsIndex {
    width: 8px;
    text-align: right;
    color: var(--darkest);
    background-color: var(--lightest);
    font-weight: 700;
}

.statsBar {
    background-color: var(--lightest);
    margin-left: 8px;
    flex: 1;
}

.statsBarBox {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 3px;
    padding-bottom: 2px;
    font-weight: 600;
}

.shareButton {
    padding-inline: 16px;
    padding-block: 8px;
    border-radius: 8px;
}

.shareButton:hover {
    cursor: pointer;
}

.footer {
    font-size: 14px;
    padding-top: 12px;
}

.footerSpacing {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.support {
    display: flex;
    flex-direction: column;
    padding: 16px;
    min-height: 100vh;
    max-width: var(--max-width);
    margin: 0 auto;
}

.supportHeader {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.supportText {
    text-align: left;
    margin-bottom: 1px;
}

.backToHomeButton:hover {
    text-decoration-line: underline;
}

@keyframes shake {
    0% { transform: translateX(0) }
    17% { transform: translateX(-6px); }
    34% { transform: translateX(12px); }
    50% { transform: translateX(-9px); }
    67% { transform: translateX(6px); }
    84% { transform: translateX(-3px); }
    100% { transform: translateX(0px); }
}

.shake {
    animation: shake 0.4s ease;
}

@keyframes swipeUp {
    from {
        transform: translate(-50%, -20px);
        opacity: 0;
    } to {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
}

.modalEnter {
    animation: swipeUp 0.15s ease-out;
}
  